.hover-effects
{
   position: relative;
   text-decoration: none;
   background-color: #fff;
   padding: 5px;
   margin-bottom:5px;
}
a
{
    text-decoration: none;
}
.menu-color:hover
{
    color: #F97918!important;
    transition: 0.3s;
}
.hover-effects::after
{
    content: "";
    position: absolute;
    background-color: #fff;
    height: 2px;
    width: 0;
    left: 0;
    padding: 0.5px;
    bottom: 0px;
    transition: 0.8s;
}
.hover-effects:hover::after
{
    width: 100%;
    color: #F97918;
    background-color: #F97918;
    transition: 0.8s;

}